.caixa-main {
  width: 96%;
  text-align: center;
  margin: 0 auto;
}

.titulo-main {
  font-size: 2.5em;
  margin: 0.5em 0 0.5em;
}

.subtitulo-main {
  font-size: 1.8em;
  margin: 0 0 0.5em;
}

.conteudo-main {
  font-size: 1.2em;
  line-height: 2;
}
