.caixa-formulario {
  width: 96%;
  text-align: center;
  margin: 0 auto;
  text-align: center;
}

.titulo-form {
  color: coral;
  font-size: 2em;
  margin: 1em 0;
}

.nome-form,
.email-form {
  font-weight: bold;
  font-size: 1.2em;
  padding-bottom: 2em;
  width: 60%;
  display: inline-block;
  text-align: left;
}


.nome-form input,
.email-form input {
    width: 100%;
    margin-top: 0.5em;
    font-size: 1.2em;
    padding: 0.5em;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0.1em 0.2em 0.5em #48a3a6;

}

.botao-form button {
  background-color: #48a3a6;
  border-radius: 5px;
  padding: 20px 25px;
  color: white;
  font-size: 18px;
  margin-bottom: 1em;
}
