.caixa-header {
  background: url(/img/destaque.jpeg) no-repeat;
  background-size: 100%; /* cover */
  margin: 0 auto;
  text-align: center;
}

.sobre,
.palestrantes {
  margin: 1em auto;
  display: inline-block;
  background: rgba(255, 255, 255, 0.404);
  border-radius: 5px;
  padding: 10px;
}

.sobre:hover,
.palestrantes:hover {
  background-color: #48a3a6;
  transition: 1s;
}

.sobre a,
.palestrantes a {
  text-decoration: none;
}
