.caixa-header {
  border: 2px solid red;
  background-image: url(/img/destaque.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;
}

#sobre {
  margin: auto;
  display: inline-block;
  background: rgba(255, 255, 255, 0.404);
  border-radius: 5px;
  padding: 10px;
}

#sobre:hover,
#palestrantes:hover {
  background-color: #48a3a6;
  transition-delay: 500ms;
}

#sobre a,
a:hover {
  text-decoration: none;
}

#palestrantes {
  margin: auto;
  display: inline-block;
  background: rgba(255, 255, 255, 0.404);
  border-radius: 5px;
  padding: 10px;
}

#palestrantes a {
  text-decoration: none;
}
